.header {
  height: 123px;
  padding: 16px;
}

.title {
  margin-bottom: 8px;
  font-family: "Passion One";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--orange-text, #f86600);
}

.text {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
