.title {
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 12px;

  @media (max-width: 1025px) {
    margin-bottom: 8px;
  }
}
