.btn {
  cursor: pointer;
  font-weight: 700;
  line-height: 20px;
  border: none;
  transition: all 0.3s ease;

  &:disabled {
    opacity: 0.5;
  }
}

.small {
  padding: 2px 11px;
  border-radius: 16px;
}

.big {
  padding: 8px 16px;
  border-radius: 24px;

  &:not(:disabled):hover {
    transform: scale(1.03);
  }
}

.orange {
  color: var(--orange-base, #f86600);

  &:hover {
    background-color: var(--orange-base, #f86600);
    color: var(--white-base, #FFFFFF);
  }
}

.white {
  color: var(--white-base, #FFFFFF);
}

.red-smooth {
  color: var(--red-smooth, #f5ded9);

  &:hover {
    color: var(--orange-base, #f86600);
  }
}

.bg_orangeSmooth {
  background: var(--orange-smooth, rgba(248, 102, 0, 0.15));
}
.bg_orange {
  background: var(--orange-base, #f86600);
}
