.main {
  display: flex;
  background: url("../../../assets/images/earth.png"),
    -179.856px -16.699px / 205.953% 111.421% no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 123px;
  min-height: 80vh;
}
