@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
  --bg-dark: #000000;
  --orange-text: #F86600;
  --orange-smooth: #F8660026;
  --white-base: #FFFFFF;
  --bg-gray: #232526;
  --gray-text: #E3E5E5;
  --red-smooth: #F5DED9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white-base, #FFFFFF);
  background-color: var(--bg-dark, #000000);
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
