@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

:root {
  --bg-dark: #000000;
  --orange-text: #f86600;
  --orange-smooth: #f8660026;
  --white-base: #ffffff;
  --bg-gray: #232526;
  --gray-text: #e3e5e5;
  --red-smooth: #f5ded9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1550px;
  margin: 0 auto;
  color: var(--white-base, #ffffff);
  background-color: var(--bg-dark, #000000);
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a,
button {
  cursor: url("/cursor.svg"), pointer;
}
