:root {
  --bg-dark: #000000;
  --orange-text: #F86600;
  --orange-smooth: #F8660026;
  --white-base: #FFFFFF;
  --bg-gray: #232526;
  --gray-text: #E3E5E5;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white-base, #FFFFFF);
  background-color: var(--bg-dark, #000000);
}

a {
  color: inherit;
  text-decoration: none;
}
