.tabs {
  > :not(:last-child) {
    border-right: 2px solid white;
  }
}

.input {
	// display: none;
  position: absolute;
  opacity: 0;
}

.label {
  cursor: pointer;
}

.label.active {
  text-decoration: white solid underline;
}
