.dangerIcon {
  margin-right: 5px;

  @media (max-width: 1025px) {
    height: 14px;
    width: 14px;
  }
}

.danger {
  display: flex;
  align-items: baseline;
  // justify-content: center;
}

.text {
  color: var(--gray-text, #E3E5E5);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

