// .container {
//   width: 55%;
//   margin-left: var(--margin-left-container, 38.87%);
// }

.title {
  margin-bottom: 1em;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
